.cart{
    width: 100%;
}
.cart__content{
    max-width: 1200px;
    margin: 0 auto;
}
.cart__details {
    overflow-x: scroll;
}
.cart__details::-webkit-scrollbar{
    display: none;
}
.checkOut{
    line-height: 15px;
}



@media screen and (max-width: 576px) {
    .productQuantityController{
        font-size:15px;
        background: rgb(135, 135, 135, 0.1);
        width: 80px;
        padding: 2px;
        border-radius: 50px;
        border: none;
    }
    .cart th{
        font-size: 15px;
    }
}

