.cart__sidebar{
    width: 100%;
    background: none;
}

.cart__sidebar__content{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: var(--mainTransition);
    z-index: 1000;
}
.bar__off {
    width: 0px !important;
    padding: 0px !important;
    opacity: 0 !important;
    
}
.cart__content__closeBtn{
    width: 100%;
    background: rgba(0, 0, 0, .5);

}
.cart__sidebar__cart__details {
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding: 20px 10px;
    background: var(--mainWhite);
    box-shadow: var(--darkShadow);
    transition: var(--mainTransition);
    width: 300px;
    height: 100vh;
    overflow-y: scroll !important;
}

.cart__sidebar__cart__table{
    overflow-y: scroll;
    max-height: 600px;
}
.cart__sidebar__cart__details::-webkit-scrollbar{
    display: none;
}
.cart__sidebar__cart__table::-webkit-scrollbar{
    display: none;
}
.cart__content__closeBtn__icon{
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
    transform: rotate(-180deg);
    transition: all .2s ease;
}
.cart__content__closeBtn__icon:hover{
    transform: rotate(180deg);
    color: var(--mainBlue)
}

.checkOut{
    line-height: 15px;
}
.cart__side__bar__productQuantityController{
    
    background: rgb(135, 135, 135, 0.1);
    width: 80px;
    padding: 2px;
    border-radius: 50px;
    border: none;
}





